*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

nav a, footer a{
    padding: .5em;
    color: white;
}

nav a:hover, footer a:hover{
    color: white;
    text-decoration: none;
}

header{
    height: 12em;
    background: url("../assets/img/pizza.jpeg") fixed center no-repeat;
    background-size: cover;
}

main a{
    padding: .5em;
    color: black;
}

main a:hover{
    color: black;
    text-decoration: none;
}

main i{
    font-size: 2em;
}

img{
    max-width: 100%;
}

.grey{
    background: lightgrey;
}

.blue{
    background: lightblue;
}

.borde{
    border: 5px solid white;
}