*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 15em;
}

form{
    padding: 5em;
    background: lightblue;
}