*{
    margin: 0;
    padding: 0;
    word-spacing: .2em;
    letter-spacing: .1em;
}

a{
    color: blue;
    font-weight: bold;
}

body{
    background: url("../assets/img/bg-wood.jpeg");
    background-size: cover;
}

form{
    background: lightgrey;
    padding: 5em;
}

small{
    font-size: .9em;
}

.ocultar{
    display: none;
}

#error{
    color: red;
    font-style: italic;
    font-weight: bold;
}
